
.list-titles, .list-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list-titles div {
    padding: 1rem;
    border: 1px solid grey;
}

.list-items div {
    padding: 1rem;
    border: 1px solid grey;
}